<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763355832776-530r4h8p2adilftoopqtm38hq497t0a9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763355832776-530r4h8p2adilftoopqtm38hq497t0a9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>763355832776-emifjea81giiuutrcm9ch7ab9sh9nble.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDyx64H9WTtSBaj-8g1ofOnzCtBtDD-6WM</string>
	<key>GCM_SENDER_ID</key>
	<string>763355832776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.valentinvignal.nitwixt</string>
	<key>PROJECT_ID</key>
	<string>nitwixt</string>
	<key>STORAGE_BUCKET</key>
	<string>nitwixt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763355832776:ios:72c23fe59fbe620d7ce0fd</string>
	<key>DATABASE_URL</key>
	<string>https://nitwixt.firebaseio.com</string>
</dict>
</plist>